<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../app/boot/bootstrap.php">
    <testsuites>
        <testsuite name="tests">

            <file>tests/bhvNameFormatTest.php</file>
            <file>tests/queueNameFormatTest.php</file>

            <file>tests/bhvContentTest.php</file>

        </testsuite>
    </testsuites>
    <!--    <listeners>-->
    <!--    </listeners>-->
</phpunit>
